{% extends 'index.html' %} {% load static %}

{% block title %} OntoMap {% endblock %}

{% block css %}
  <link rel="stylesheet" type="text/css" href="{% static 'ontomap/style.css' %}" />
{% endblock %}

{% block content %}
  <div class="container conteudo">
    <h3 id="title" contenteditable="false">Name of the map</h3>
    <div id="myDiagram" class="editor"></div>
    <button id="saveButton" type="submit" class="btn btn-default">Save</button>
    <button id="loadButton" type="submit" class="btn btn-default">Load</button>
    <button id="exportButton" type="submit" class="btn btn-default">Export Map in OWL Ontology</button>
  </div>
{% endblock %}

{% block javascript %}
  <script src="{% static 'go/go-debug.js' %}"></script>
  <script src="{% static 'ontomap/ontoeditor.js' %}"></script>
  <script src="{% static 'ontomap/main.js' %}"></script>
{% endblock %}