{% block footer %}
  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <ul class="list-inline">
            <li><a href="/editor">Editor</a></li>
            <li><a href="#">CMPaaS</a></li>
            <li><a href="#">Contact Us</a></li>
          </ul>
        </div>
      </div>
      <br/>
      <div class="row">
        <div class="col-md-12">
          <p class="text-muted text-center">© UFES - Universidade Federal do Espírito Santo | LIEd - Laboratório de Informática na Educação</p>
        </div>
      </div>
    </div>
  </footer>
{% endblock %}