#banner{
  margin-top: -20px;
  background-image: url("../img/background/black_lozenge.png");
}

#bannerContainer {
  padding-bottom: 45px;
  padding-top: 130px;
}

#bannerContainer h1, #bannerContainer p {
  color: white;
}

#conteudo {
  margin-top: -30px;
  height: 430px;
  background: url("../img/vix_blur.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 0 -100px;
}

.inputSignUp {
  height: 45px;
}

.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}